.uptaneUpdates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sectionPadding {
    padding: 6rem 6rem;
}

.uptaneUpdatesHeading {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.uptaneUpdatesHeading h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    color: var(--ifm-color-primary);
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--theme-card);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card>* {
    margin: 47px 70px 47px 47px;
}

.card>img {
    margin-top: 48px;
}

.leftCardTitle {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 39px;
    text-transform: uppercase;
    color: var(--ifm-color-content);
    margin-top: -15px;
}

.rightCardTitle {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 39px;
    text-transform: uppercase;
    color: white;
    margin-top: -15px;
}

.leftCardDescription {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    color: var(--ifm-color-content);
    line-height: 1.7;
    margin-top: -22px;
}

.rightCardDescription {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);
    line-height: 1.7;
    margin-top: -22px;
}

.leftCard {
    background: var(--theme-card);
    border-radius: 10px 0 0 10px;
}

.rightCard {
    background: var(--gradient-blue);
    border-radius: 0 10px 10px 0;
}

.learnMoreButton {
    margin-top: 35px;
    height: 46px;
    width: 145px;
    border-radius: 50px;
    border: none;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.95);
}

.learnMoreButton:hover {
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.95);
    background-color: transparent;
}

.emailInput {
    margin-top: 35px;
    height: 46px;
    width: 50%;
    padding: 20px;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.95);
    margin-right: 10px;
    /* Add margin-right for the gap */
}

.subscribeButton {
    margin-top: 35px;
    height: 46px;
    width: 145px;
    border-radius: 50px;
    border: none;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.95);
}

.leftCardButton {
    color: hsl(31, 77%, 52%);
}

.leftCardButton:hover {
    color: rgba(255, 255, 255, 0.95);
}

.rightCardButton {
    color: hsl(179, 100%, 13%);
}

.rightCardButton:hover {
    color: rgba(255, 255, 255, 0.95);
}



@media screen and (max-width: 1050px) {
    .cardContainer {
        grid-template-columns: 1fr;
    }


    .leftCard {
        border-radius: 10px 10px 0 0;
    }

    .rightCard {
        border-radius: 0 0 10px 10px;
        margin-left: 0;
    }

    .leftCardDescription,
    .rightCardDescription {
        margin-bottom: -10px;
    }

}

@media screen and (max-width: 650px) {
    .cardContainer {
        grid-template-columns: 1fr;
    }


    .leftCard {
        border-radius: 10px 10px 0 0;
    }

    .rightCard {
        border-radius: 0 0 10px 10px;
        margin-left: 0;
    }

    .leftCardDescription,
    .rightCardDescription {
        margin-bottom: -10px;
    }
}

@media screen and (max-width: 490px) {
    .cardContainer {
        grid-template-columns: 1fr;
    }


    .leftCard {
        border-radius: 10px 10px 0 0;
    }

    .rightCard {
        border-radius: 0 0 10px 10px;
        margin-left: 0;
    }

    .leftCardDescription,
    .rightCardDescription {
        margin-bottom: -10px;
    }
}