.section_padding {
  padding: 4rem 4rem;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what_is_uptane_heading {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 650px;
}

.what_is_uptane_heading h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  color: var(--ifm-color-primary);
}

.Tagline {
  font-size: 22px;
  font-weight: 400;
  text-align: justify;
  padding: 15px;
}

.BadgesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Badge {
  margin: 2em;
}

@media screen and (max-width: 1050px) {
  .what_is_uptane {
    flex-direction: column;
  }

  .what_is_uptane_heading {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .what_is_uptane_heading h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .section_padding {
    padding: 2rem;
  }
}

@media screen and (max-width: 490px) {
  .what_is_uptane_heading h1 {
    font-size: 35px;
    line-height: 48px;
  }
}